body {background-image: url(https://github.com/khsieh95/Responsive-Portfolio-KH/blob/main/photos/pexels-henry-&-co-1939485.jpg?raw=true);
    font-family: 'Castoro', serif;
}

.header{
    color: black;
    margin-bottom: 2%;
    border-bottom: 1px solid;
}

h1 {
    margin: 2% auto;     
}

.col-3, .col-9 {
    margin-block: 2%;
}


.container {
    margin:3% auto;
    background-color: white;
}

#pic1, #pic3, #pic5 {
    float: left; 
    border-radius: 2%;
    
}

#pic2, #pic4 {
    float: right;
    border-radius: 2%;
}



#links {
    text-align: right; 
    

    
}

@media screen and (max-width:893px) {
    #pic1,#pic2,#pic3,#pic4,#pic5 {
        width:100%; 
        float:none;
    }
   
}
