body {background-image: url(https://github.com/khsieh95/Responsive-Portfolio-KH/blob/main/photos/pexels-henry-&-co-1939485.jpg?raw=true);
}



.header{
    color: black;
    margin-bottom: 2%;
    border-bottom: 1px solid;
}

h1 {
    margin: 2% auto;
       
}

.col-3, .col-9{
    margin-block: 2%;}

.container {
    background-color: white;
}


/* .form {
    margin-bottom: 3%;
} */

